{% extends "network/layout.html" %}
{% load static %}
{% block body %}

{% block profile %}{% endblock %}
{% block newpost %}{% endblock %}

{% for post in posts %}
<div class="container">
  <div class="row mt-2 mb-2 g-bg-secondary" >
    <div class="col-md-8">
        <div id="post" class="post" data-post-id="{{ post.id }}">
          <div>
            <h5>
              <a id="post_owner" class="no-underline" data-owner-id="{{ post.owner.id }}" href="{% url 'profile' user_id=post.owner.id %}">
                {{ post.owner }}
              </a>
            </h5>
            {% if request.user == post.owner %}
              <div>
                <a id="edit" class="no-underline g-font-size-12" data-post-id="{{ post.id }}" href="#">Edit</a>
              </div>
            {% endif %}
            <span class="g-color-gray-dark-v4 g-font-size-12" >{{ post.creation_date }}</span>
          </div>

          <div id="content-{{ post.id }}">{{ post.content }}</div>

          <ul class="list-inline d-sm-flex">
            <li class="list-item-spacing">
              <a id="like" class="no-underline" data-post-id="{{ post.id }}" href="#">
              </a>
            </li>
        
        </ul>
        
        </div>
      </div>
    </div>

  </div>
</div>

{% endfor %}

<script src="{% static 'network/index.js' %}" defer></script>
{% block paginator %}{% endblock %}

{% endblock%}