{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ listing.title }} 
        {% if listing.is_active %}
            <div class="status-indicator" data-bs-toggle="tooltip" data-bs-placement="top" title="active listing" style="display:inline-block; margin-left: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </div>
        {% else %}
            <div class="status-indicator" data-bs-toggle="tooltip" data-bs-placement="top" title="closed listing" style="display:inline-block; margin-left: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-circle-fill" viewBox="0 0 16 16">
                    <circle cx="8" cy="8" r="8"/>
                </svg>
            </div>
        {% endif %}
    </h2>

    {% if user.is_authenticated %}
        {% if is_in_watchlist %}
        <div>
            <form action="{% url 'delete_watchlist' listing.id %}" method="post">
                {% csrf_token %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                </svg>
                <input class="btn btn-danger" type="submit" value="remove from watchlist">
            </form>
        </div>
        {% else %}
        <div class="form-group">
            <form action="{% url 'add_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" value="add to watchlist">
            </form>
        </div>
        {% endif %}
    {% endif %}
    
    <img src="{{ listing.image_url }}" class="img-thumbnail" alt="Listing Image" style="max-width: 100%; height: auto;">
    {% if listing.bid.exists %}
            <h4>Current Bid: ${{ listing.bid.last.bid_value }}</h4>
        {% else %}
            <h4>Current Bid: ${{ listing.starting_bid }}</h4>
        {% endif %} 
    <b>{{ bid_count }}</b> bid(s) so far.
    <p>Highest Bid: <b>{{ listing.bid.last.user }}</b></p>

    {% if user.is_authenticated %}
        {% if listing.is_active %}
            {% if listing.owner != request.user %}
            <form action="{% url 'add_bid' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" type="number" step="0.01" name="bid" placeholder="Place bid" min="{{ listing.bid.last.bid_value }}">
                    <input type="hidden" name="listing_id" value="{{ listing.id }}">
                </div>
                <input class="btn btn-primary" type="submit" value="Place bid">
            </form>
            {% else %}
            <div>
                <form action="{% url 'close_auction' listing.id %}" method="post">
                    {% csrf_token %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                        <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5 5 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334"/>
                    </svg>
                    <input class="btn btn-danger" type="submit" value="Close the auction">
                </form>
            </div>
            {% endif %}
        {% else %}
            {% if listing.winner == request.user %}
            <p class="font-weight-bold text-dark"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
                <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5q0 .807-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33 33 0 0 1 2.5.5m.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935m10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.387 2.885-.72 3.935M8 11.5c1.212 0 2.502-.788 3.354-2.682a52.326 52.326 0 0 1-6.708 0C5.498 10.712 6.788 11.5 8 11.5"/>
            </svg> Congratulation {{ request.user }}, you are the winner!</p>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if error_message %}
    <div class="alert alert-danger">{{ error_message }}</div>
    {% endif %}
    <h4>Description:</h4>
    <p class="lead">{{ listing.description }}</p>
    </br>
    <h3> details </h3>
    <li> Owner : <b>{{ listing.owner }}</b></li>
    <li> category : <b>{{ listing.category }}</b></li>
    </br>
    <hr>
    <div>
        <h3>Comments</h3>
        {% for comment in listing.comments.all %}
        <p>@{{ comment.user }}: {{ comment.content }}
            ({{ comment.date_posted }})
        </p>
        {% empty %}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
          </svg>
        {% endfor %}
        
        {% if user.is_authenticated and listing.is_active %}
            <div class="form-group">
                <form method="post" action="{% url 'add_comment' listing.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" id="content" name="content" rows="3" required></input>
                    </div>
                    <button type="submit" class="btn btn-primary">add comment</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
