.center {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


nav {
    margin-left: auto;
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        li {
            margin-right: 20px;
            a {
                text-decoration: none;
                color: #333;
            }
            a:hover {
                color: #007bff;
            }        
        }   
    }
}
h1 {
    font-size: 82px;
    margin-bottom: 18px;

}
.btn-main {
    color: rgb(95, 99, 104);
    background-color: rgb(242, 242, 242);
    border-color: rgb(242, 242, 242);
}
  
  .btn-main:hover {
    background-color: rgb(248, 248, 248);
    border-color: rgb(198, 198, 198);
    color: rgb(34, 34, 34);
}


.container {
    margin-left: 30px;
    width: 50%;
}  

.text-left {
    font-size: x-large;
    color: rgb(174, 2, 2);
}
#search{
    font-size: large;
    margin-bottom: 20px;
}